.gradient-drum-red {
  background-color: #d20d0d !important;
  background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
  height: 250px;
  width: 250px;
}

.gradient-drum-green {
  background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
  background-color: #3eef43 !important;
  height: 250px;
  width: 250px;
}

.gradient-drum-blue {
  background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
  background-color: #7683e2 !important;
  height: 250px;
  width: 250px;
}

.gradient-drum-yellow {
  background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
  background-color: #f7f256 !important;
  height: 250px;
  width: 250px;
}

.gradient-drum-white {
  background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
  background-color: #4bdea8 !important;
  height: 250px;
  width: 250px;
}

.gradient-drum-pink {
  background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
  background-color: #e45ada !important;
  height: 250px;
  width: 250px;
}

.gradient-drum-purple {
  background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
  background-color: #9a22cc !important;
  height: 250px;
  width: 250px;
}

.gradient-drum-brown {
  background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
  background-color: #82570a !important;
  height: 250px;
  width: 250px;
}

.gradient-drum-orange {
  background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
  background-color: #ec9f2a !important;
  height: 250px;
  width: 250px;
}
